.cp-header-nav{
	background-color: #D52155;
	color: #FFFFFF;
	height: 30px;
	line-height: 20px;
	padding: 5px 10px;
}
.cp-header-nav div:nth-child(2){
	text-align: right;
}
.cp-message_container{
	height:430px;
	margin:10px 0px 0px 0px;
}
#cp-message_area{
	width: 100%;
	height:400px;
	padding: 5px;
	color: #000000;
	font-size: 14px;
	background-color: #FFFFFF;
	overflow-y: scroll;
}
#cp-message_area p{
	margin: 0;
	padding: 3px 0;
}
#cp-message_area p.red{
	color: #FF0000;
	font-weight: bold;
}
#cp-message_area p.green{
	color: #009900;
	font-weight: bold;
}

#cp-message_input{
	width: 100%;
	height: 60px;
	margin-top: 20px;
	background-color: #FFFFFF;
	padding: 5px;
}
#cp-message_input input{
	width: 100%;
	height: 50px;
	border: none;
	background-color: #FFFFFF;
}
.cp-side-bar{
	height: 410px;
	margin: 10px 0px;
	background-color: #FFBD3C;
}
#cp-user-list li{
	width: 100%;
	height: 30px;
	line-height: 30px;
}
#cp-user-list li a{
	color: #000000 !important;
	text-decoration: none;
}
#cp-user-list li a:hover{
	text-decoration: none;
}
#cp-user-list li a span{
	color: #FFFFFF !important;
}
#cp-user-list a.chat{
	float: left;
	display: block;
	width: 70%;
	height: 30px;
	line-height: 30px;
}
#cp-user-list a.take{
	float: left;
	display: block;
	width: 30%;
	height: 30px;
}
#cp-user-list a.take input.btn{
	padding: 6px 12px !important;
	margin: 0 !important;
	font-size: 14px !important;
}


.side-bar .send{
	height: 60px;
	text-align: center;
	padding-left: 0 !important;
}
input.btn{
	margin-top: 10px;
	padding: 6px 32px !important;
}
input.btn-link{
	margin: 0 !important;
	padding: 0 !important;
	color: #FFFFFF !important;
}

.error{
	color: #FF0000;
	height: 30px;
	line-height: 30px;
}
fieldset{
	margin-top: 100px !important;
}
legend{
	margin-bottom:0 !important;
}


